{# Extend basic page #} {% extends 'layouts/single-fixed-column.html' %} {% load i18n %}
{% block body_classes %}password-reset{% endblock %} {% block htmltitle %}Password reset{% endblock %}

{% block document_title %}
    {% trans 'Olvidaste la contraseña?' %}
{% endblock %}

{# Content #}
{% block main %}
    {% if user.is_authenticated %}
        <p class="form-errors">
            {% blocktrans trimmed %}
                Ya estás autenticado en la plataforma.
            {% endblocktrans %}
        </p>
    {% endif %}

    {% include 'pages/title.html' with title='¿Olvidaste la contraseña?' %}

    <div class="password-reset-instructions">
        {% blocktrans trimmed %}
            Si has olvidado tu contraseña introduce el correo electrónico asociado a la cuenta
            y recibirás en el mismo instrucciones para cambiarla.
        {% endblocktrans %}
    </div>

    {% include 'forms/regular-form.html' with form_title="Password reset" form=form form_class="password-reset" submit_text="Envía" %}

{% endblock %}
