{# About page #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n %}

{% block body_classes %}
about
{% endblock %}

{% block document_title %}
    {% trans 'Acerca' %}
{% endblock %}

{% block main %}
    <div class="civics-about">
        <span class="fake-breadcrumb" onclick="history.go(-1)">
            ← {% trans 'Volver atrás' %}
        </span>
        <h1 class="civics-about__title">
            Mapeogunea
        </h1>
        <h2 class="civics-about__subtitle">
            {% trans 'ABOUT_SUBTITLE' %}
        </h2>
        <div class="civics-about__text">
          <p>{% trans 'ABOUT_FIRST' %}</p>
          <p>{% trans 'ABOUT_SECOND' %}</p>
        </div>
        <div class="civics-about__faq">
            <h5 class="civics-about__faq-title">
                {% trans 'FAQ' %}
            </h5>
            <ul class="faq-items">
                {% FAQ as FAQ %}
                {% for question in FAQ %}
                    {% with label='faq_'|add:question|add:'_label' text='faq_'|add:question|add:'_text' %}
                    <li class="faq-item">
                        <h6 class="faq-item__label">
                            {% trans label %}
                        </h6>
                        <div class="faq-item__text">
                            {% trans text|linebreaks %}
                        </div>
                    </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        </div>
        {% url 'privacy' as contact_url %}
        <div class="civics-about__privacy">
            {% blocktrans trimmed %}
            <h5>Política de privacidad</h5>
            <p>Puedes leer nuestra política de privacidad en la página enlazada
            a continuación:</p>
            <a href="{{ contact_url }}">Política de privacidad</a>
            {% endblocktrans %}
        </div>

        <div class="civics-about__license-text">{% blocktrans trimmed %}
            Esta obra está bajo <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
            Licencia Creative Commons Atribución-CompartirIgual 4.0 internacional</a>
            Los datos recopilados están bajo <a href="https://opendatacommons.org/licenses/odbl/1.0/" target="_blank">
            licencia ODbL 1.0.</a>
            El código fuente de la plataforma está disponible bajo una licencia
            <a href="https://www.gnu.org/licenses/gpl.html" target="_blank">
            General Public License 3.0</a>.
        {% endblocktrans %}</div>
    </div>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", ()=>{
         var faq_items = document.querySelectorAll('.faq-item');
         faq_items.forEach(item => {
              item.addEventListener('click', i => {
                  item.classList.toggle('active');
              });
         });
         var active_menu_item = document.querySelector('.main-menu__link--about');
         active_menu_item.classList.add('active');
   });
</script>
{% endblock %}
