{# After logout page #}
{% extends 'layouts/single-fluid-column.html' %} {% load static utils i18n %}
{% block body_classes %}thanks{% endblock %}

{% block document_title %}
    {% trans 'Logout' %}
{% endblock %}

{% block main %}
<div class="goodbay">
  <div class="goodbay__text">
      {% blocktrans trimmed %}
      Gracias por visitarnos.
      {% endblocktrans %}
  </div>
  <div class="goodbay__links">
      {% blocktrans trimmed %}
      Recuerda que puedes seguirnos y contactarnos en:
      {% endblocktrans %}
      <ul class="goodbay__social">
          <li>
              <a href="https://www.facebook.com/Solasgune-174686322665692/" target="_blank" title="{% trans 'Perfil de Solasgune en Facebook' %}">
                  <span class="icon-facebook"></span> Facebook
              </a>
          </li>
          <li>
              <a href="https://twitter.com/solasgune" target="_blank" title="{% trans 'Perfil de Solasgune en Twitter' %}">
                  <span class="icon-twitter"></span> Twitter
              </a>
          </li>
          <li>
              <a href="/contacta" target="_blank" title="{% trans 'Contacta con Solasgune' %}">
                  <span class="icon-mail"></span> Email
              </a>
          </li>
      </ul>
  </div>
</div>
{% endblock %}
