{# Toolbar region #} {% extends 'regions/region-base.html' %} {% load utils static i18n %}

{% block region_content %}
    <div class="region-{{ region_name }}__left">
        <figure class="civics-logo">
            <a href="{% url 'front' %}" title="{% trans 'Ir a la pantalla de inicio' %}">
                <h5>
                    Mapeogunea
                </h5>
            </a>
        </figure>
    </div>
    <div class="region-{{ region_name }}__center">
        <div class="navigation-trigger" onclick="document.querySelector('.region-toolbar__right').classList.toggle('active')">
            <p class="b1"></p><p class="b2"></p><p class="b3"></p>
        </div>
        <ul class="main-menu">
            <li class="main-menu__link main-menu__link--actives">
                <a href="/#!/activos">
                    {% trans 'Activos' %}
                </a>
            </li>
            <li class="main-menu__link main-menu__link--resources">
                <a href="{% url 'resources' %}">
                    {% trans 'Recursos' %}
                </a>
            </li>
            <li class="main-menu__link main-menu__link--about">
                <a href="{% url 'about' %}">
                    {% trans 'Acerca' %}
                </a>
            </li>
        </ul>
    </div>
    <div class="region-{{ region_name }}__right">
        <ul class="user-actions">
            {% if request.user.is_authenticated %}
            <li class="user-actions__add-active">
                <a href="{% url 'modelforms:create_active' %}"
                   title="{% trans 'Añade un activo' %}">
                    <img src="{% static 'civics/img/icons/plus.svg' %}" />
                </a>
            </li>
            <li class="user-actions__add-resource">
                <a href="{% url 'admin:models_resource_add' %}"
                   title="{% trans 'Añade un recurso' %}">
                    <img src="{% static 'civics/img/icons/paperclip.svg' %}" />
                </a>
            </li>
            {% endif %}
            {% if request.user.is_staff %}
            <li class="user-actions__admin">
                    <a href="{% url 'admin:index' %}"
                       title="{% trans 'Administra' %}">
                        <img src="{% static 'civics/img/icons/settings.svg' %}" />
                    </a>
            </li>
            {% endif %}
            <li class="user-actions__io">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'auth_logout' %}"
                       title="{% trans 'Sal de la plataforma' %}">
                        <img src="{% static 'civics/img/icons/log-out.svg' %}" />
                    </a>
                {% else %}
                    <a href="{% url 'auth_login' %}"
                       title="{% trans 'Entra en la plataforma o regístrate en ella' %}">
                        <img src="{% static 'civics/img/icons/user.svg' %}" />
                    </a>
                {% endif %}
            </li>
        </ul>
        {% include 'forms/language-switcher.html' %}
    <div>
{% endblock %}
