{# Template to render all fields in a form #}
{# Not included in form.html to be reusable (in the context of a composed form, for instance) #}
{% load i18n %}

<div class="form-fields--{{ form_class }}">
    <div class="fieldset--two-col">
        <div class="fieldset__left--two-col">
            {% include 'forms/field.html' with field=form.name %}
            {% if request.user.is_staff %}
                {% include 'forms/field.html' with field=form.user %}
            {% endif %}
            {% include 'forms/field.html' with field=form.email %}
            {% include 'forms/field.html' with field=form.description  %}
        </div>
        <div class="fieldset__right--two-col">
            {% include 'forms/field.html' with field=form.image  %}
            {% include 'forms/field.html' with field=form.website %}
        </div>
    </div>
    <div class="fieldset--inline">
        {% include 'forms/field.html' with field=form.perspective %}
        {% include 'forms/field.html' with field=form.perspective_alt %}
    </div>
    <div class="fieldset--inline">
        {% include 'forms/field.html' with field=form.category %}
        {% include 'forms/field.html' with field=form.agent %}
    </div>
    <div class="fieldset--two-col">
        <div class="fieldset__left--two-col">
            {% include 'forms/field.html' with field=form.city %}
        </div>
        <div class="fieldset__right--two-col">
            {% include 'forms/field.html' with field=form.address %}
        </div>
        <div class="fieldset__full--two-col">
            {% include 'forms/field.html' with field=form.position %}
        </div>
    </div>
    {% if request.user.is_staff %}
        <div class="fieldset--one-col">
            {% include 'forms/field.html' with field=form.featured %}
        </div>
    {% endif %}
</div>
