{% extends "admin/base.html" %} {% load static utils %}

{% block title %}Administración | Mapa de activos de salud {% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% css "admin.css" %}" />
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Mapeogunea</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
