@import compass/css3/transition

//Map common elements and resets
#civics-map
  width: 100%
  position: relative
  height: calc(100vh - 132px) !important
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGCQYiAWYFcJAAkAADUIx7G1AAAAAElFTkSuQmCC) repeat white

  .leaflet-top
    top: 72px
  .leaflet-top.leaflet-right
    top: 0
    left: 10px
    right: inherit
  .leaflet-control-attribution
    +links_normal
    background-color: white
    font-size: $size_small
    font-family: $font_text
    right: $m/2
  .leaflet-control-layers-toggle
    background-image: url('../img/layers.png') !important
    background-size: cover
    width: 26px
    height: 26px
  .leaflet-control-layers-overlays
    display: none
  .leaflet-expand
    position: absolute
    top: 46px
    left: 10px
    text-align: center
    z-index: 100
    width: 26px
    line-height: 26px
    background: white
    +box-shadow(0 0 10px rgba(black, .5))
    &:hover
      cursor: pointer
  .leaflet-div-icon
    border: 0 !important
    background: none !important
  .fa-map-marker,
  .fa-spinner
    +i("◎")
    color: $color_text !important

  &:after
    content: url('../img/south.svg')
    width: $m*2
    height: $m*2
    opacity: .5
    position: absolute
    z-index: 11000
    bottom: $m*2

//Map clusters
.prunecluster
  background: white !important
  line-height: 42px
  text-align: center
  +border-radius(50%)
  +box-shadow(0 0 10px rgba(black, .5))
  font-weight: bold
  color: #333

.prunecluster__city
  display: none
  font-family: $font_text
  background: white
  position: absolute
  padding: $m/3

.show-city-labels
  .prunecluster:hover + .prunecluster__city
    display: block

//Map markers
.leaflet-marker-icon.cm
  text-align: center
  position: relative
  .outer
    +icon
    &::before
      font-size: 60px
      +text-shadow(0 0 5px rgba(black, .5))
  .inner
    +icon
    +inline-block
    +border-radius(50%)
    width: 24px
    height: 24px
    background-color: rgba(white, .1)
    position: absolute
    top: 11px
    left: 8px
    text-align: center
    &::before
      font-size: 23px
      line-height: 23px
      color: rgba(black, .75)
  [class*='icon-activity'].inner::before
    font-size: 36px
    line-height: 30px
    left: 1px

#civics-map.highlighted .leaflet-marker-icon
  opacity: .45 !important
#civics-map.highlighted .leaflet-marker-icon.featured
  opacity: 1 !important
#civics-map.highlighted .leaflet-marker-icon.related
  opacity: .85 !important
