@import compass/css3/transform
@import compass/css3/transition

.main-menu
  display: none !important
  padding: $m
  text-align: center
  margin-top: $m*2
  +links_social
  +breakpoint('md')
    margin-top: 0
    display: inline-block !important
    padding: inherit

[class*='main-menu__link--'].active
  +h(5)

.main-menu__link--initiatives.active
  +links_actives
.main-menu__link
  width: 100%
  line-height: 41px
  position: relative
  +breakpoint('xs')
    font-weight: 700
  +breakpoint('md')
    display: inline
    margin: 0 $m

.civics-logo--toolbar
  height: 40px

.civics-logo h5
  margin: 0
  text-transform: uppercase
.civics-logo a
  color: inherit
