@import compass/css3/transition

.map-filters
  width: 100%
  height: 36px
  z-index: 1
  color: #222
  background-color: #eeeeee
  +links_filters
  +animation(fadein 1s 1)

.map-filters::before
  background-color: #ed61aa
  left: calc(50% - 65px)

.map-filters__filter
  +inline-block
  width: 25%
  float: left
  text-align: center
  line-height: 36px
  text-transform: uppercase
  +transition(background-color .1s ease)
  &:hover
    cursor: pointer
  [class^='icon-']::before
    margin-right: $m/3

.map-filters__filter-name
  display: none
  +breakpoint('md')
    display: inline

+breakpoint('xs')
  .filter-tags__tag
    display: none !important

.map-filters__categories
  text-align: left
  position: absolute
  z-index: 12000
  left: 0
  width: 100%
  background-color: #dedede
  display: none
  +breakpoint('md')
    width: 25%
    left: inherit
  +breakpoint('xs')
    max-height: calc(100vh - 150px)
    overflow-y: auto

[class^='map-filters__filter']:hover
  [class^='map-filters__categories']
    display: block !important
  [class^='map-filters__filter'] [class^='icon-']::before
    color: white

.map-filters__category
  +transition(background-color .25s ease)
  &:hover
    background-color: rgba(black, .1)
  &.active
    background-color: rgba(black, .2)
    color: white

.map-filters__label
  +transition(background-color .2s ease)

.map-filters__filter--initiatives:hover
  .map-filters__label
    background-color: darken(#ed61aa, 5%)

.map-filters__category
  font-size: $size_small
  line-height: 32px
  text-transform: capitalize
  padding: 0 $m/2
  color: rgba(black, .6)
  +icon

.map-filters__category::before
  content: " "
  width: 20px
  height: 20px
  line-height: 20px
  margin: 0 $m/2 5px 0
  +inline-block
  +border-radius(50%)
  color: #111

.category-perspective-eq:before
  background-color: #c33436
.category-perspective-pa:before
  background-color: #2d9440
.category-perspective-fc:before
  background-color: #354793
.category-perspective-ot:before
  background-color: #555555

.category-topic-pe::before
  content: url('../img/icons/user.svg')
.category-topic-ae::before
  content: url('../img/icons/users.svg')
.category-topic-ap::before
  content: url('../img/icons/triangle.svg')
.category-topic-fi::before
  content: url('../img/icons/map-pin.svg')
.category-topic-ec::before
  content: url('../img/icons/bar-chart.svg')
.category-topic-cu::before
  content: url('../img/icons/book-open.svg')

[class*=category-agent-]
  &::before
    font-size: 24px
.category-agent-ip:before
  content: "\e854"
.category-agent-ci:before
  content: "\e855"

.category-country
  padding: 0 $m/2
  color: rgba(black, .6)
  font-size: $size_small
  line-height: 32px
  text-transform: capitalize
  +transition(background-color .5s ease)
  &:before
    content: "▾"
    margin-right: $m/3
    color: rgba(black, .25)
  &:hover
    background-color: rgba(black, .1)

.map-filters__filter--initiatives .map-filters__label--topic
  display: inline-block
  position: relative
  width: 50%

.map-filters__label
  font-weight: bold
.map-filters__label--topic span
  opacity: 1
.map-filters__label img
  max-height: 16px
  position: relative
  top: 3px
  opacity: .5
  margin-right: 6px
