// Resources section
@import columns_masonry


.civics-resources__title
  margin: 0 0 $m*2
  border-bottom: 2px solid
.civics-resources__text
  font-size: 1.2em
  margin-bottom: $m*1.5
.civics-resources__section
  +clearfix
.civics-resources__section-title
  color: #555
  font-size: 1em
  margin-top: 0
  border-bottom: 2px solid #555

.civics-resources
  margin: 0 auto
  min-height: 100vh
  width: 960px
  max-width: 100%
  background: white
  padding: 0 $m*2
  +no_links($color_text)
  +clearfix

.resources-list
  +columns_masonry(1, 2, 2, 2, 'resource-item', 'few', $m/2)

.resource-item
  transition: background-color .2s ease
  font-size: .85em
  border-radius: 6px
.resource-item:hover
  background-color: #eee
.resource-item__name
  text-transform: uppercase
  line-height: 1.1
  margin: $m/4 0 $m/2
.resource-item__category
  font-size: .8em
  color: #555
  margin-top: $m/3
.resource-item__summary:before
  content: "\25A0"
  display: inline-block
  color: #dc5099
  font-size: .7em
  float: left
  padding: 0 $m/3 $m/6 0
.resource-item__edit
  font-size: .8em
  text-align: left
  font-weight: bold
  margin-bottom: $m/4
