<!-- Popup that displays marker info in leaflet maps -->

<div class="initiative-info initiative-info--{{content.section}}" ng-class="{ 'expanded' : info.expanded }">
    <!-- User actions -->
    <div class="initiative-actions">
        <a class="initiative-action__edit" href="/edita/activo/{{ info.marker.id }}">✏</a>
        <i class="initiative-action__close" ng-click="info.closePopup()">×</i>
    </div>

    <!-- Profile header -->
    <div class="initiative-header">
        <a href="{{ info.marker.url }}" target="_blank" title="{{ 'Saber más sobre' | t }} {{ info.marker.nam }}">
            <figure class="initiative-image">
                <img ng-show="info.marker.img" ng-src="{{ info.marker.img }}" />
                <div ng-hide="info.marker.img" class="initiative-image--blank">
                    <span class="icon-agent"></span>
                </div>
            </figure>
        </a>
        <div class="leaflet-marker-icon cm">
            <i class='outer i-sp-{{ info.marker.perspective }} i-ag-{{ info.marker.agents[0] }}'></i>
            <i class='inner i-to-{{ info.marker.categories }}'></i>
        </div>
        <div class="initiative-header-text">
            <h2 class='initiative-info__name'>
                {{ info.marker.nam }}
            </h2>
            <p class="initiative-marker__categories">
                <span class="initiative-marker__topic">
                    {{ info.marker.category_name | t }}
                </span>
                <span class="initiative-marker__perspective" ng-repeat="name in info.marker.perspective_names">
                    — {{ name | t }}
                </span>
                <span class="initiative-marker__agent" ng-repeat="name in info.marker.agent_names">
                    — {{ name | t }}
                </span>
            </p>
        </div>
    </div>

    <div class='initiative-info__event-details' ng-if="info.showing=='events'">
        <p class="initiative-info__detail--date">
            <span class="icon-event-date"></span> {{ info.marker.dat}} <span ng-if="info.marker.exp">{{ 'hasta' | t }} {{ info.marker.exp }}</span>
        </p>
        <p class="initiative-info__detail--periodicity" ng-if="info.marker.per">
            {{ 'Periodicidad' | t}}: {{ info.marker.per}}
        </p>
        <p class="initiative-info__detail--time">
            <span class="icon-event-time"></span> {{ info.marker.tim }}
        </p>
        <p class="initiative-info__detail--address">
            <span class="icon-event-address"></span> {{ info.marker.add }} ({{ info.marker.cities }})
        </p>
    </div>

    <!-- Profile description text -->
    <div class='initiative-marker__description'>
        {{ info.marker.des }}
        <p class="initiative-info__detail--link" ng-if="info.marker.ewe">
            <span class="icon-website"></span>
            <a href="{{ info.marker.ewe }}" target="_blank">
              {{ info.marker.ewe }}
            </a>
        </p>
    </div>

    <!-- Profile description text -->
    <iframe class='initiative-info__video' ng-if="info.media_src" ng-src="{{ info.media_src }}"
            width="480" height="360"
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen>
    </iframe>

    <!-- Profile details -->
    <div class='initiative-info__details'>
        <!-- Initiative details -->
        <p class="initiative-info__detail--address">
            <span class="icon-event-address"></span>
            <a href="/{{ info.lang }}/#!/activos?center={{ info.marker.lat }},{{ info.marker.lng }},16">
                {{ info.marker.add }}, {{ info.marker.cities }}
            </a>
        </p>
        <p class="initiative-info__detail--website" ng-show="info.marker.web">
            <span class="icon-website"></span>
            <a href="{{ info.marker.web }}" target="_blank">
                {{ info.marker.web }}
            </a>
        </p>
    </div>

    <!-- Profile details -->
    <div class='initiative-info__relations' ng-if="info.marker.rel.length > 0">
        <h6 class="initiative-info__relations-label">
              {{ 'Activos relacionados' | t }}
        </h6>
        <ul class="initiative-info__relations-items">
            <li class="initiative-info__relations-item" ng-repeat="i in info.marker.rel">
                <div class="leaflet-marker-icon cm">
                    <i class='outer i-ods-{{ i.ods }} i-to-{{ i.topics }} i-ag-{{ i.agents }}'></i>
                    <i class='inner i-sp-{{ i.spaces }}'></i>
                </div>
                <p class="initiative-info__relations-item-name" ng-click="info.openRelatedInfo(i.id)">
                    {{ i.nam }}
                </p>
            </li>
        </ul>
        <p class="initiative-info__relations-desc">
            {{ 'Los activos relacionados están conectados por líneas discontinuas con el activo seleccionado' | t }}
        </p>
    </div>
</div>
