<!-- Social networks links widget -->

<ul class="social-widget">
    <li class="social-widget__item">
        <a href="https://www.facebook.com/Solasgune-174686322665692/" target="_blank" title="{{'Perfil de Solasgune en Facebook'|t}}">
            <span class="icon-facebook"></span>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/solasgune" target="_blank" title="{{'Perfil de Solasgune en Twitter'|t}}">
            <span class="icon-twitter"></span>
        </a>
    </li>
    <li>
        <a href="https://gitlab.com/414c45/mapa-activos-de-salud" target="_blank" title="{{'Repositorio de este mapa en Gitlab'|t}}">
            <span class="icon-github"></span>
        </a>
    </li>
    <li>
        <a href="/contacta" target="_blank" title="{{'Contacta con Solasgune'|t}}">
            <span class="icon-mail"></span>
        </a>
    </li>
</ul>
<div class="social__help-tip arrow-right"
     ng-show="content.show_help" ng-click="content.show_help = false">
     {{ 'Usa estos botones para encontrarnos en otras plataformas o contactar con nosotros' | t }}
</div>
