@import compass/css3/transition
@import compass/css3/opacity
@import compass/css3/transform
@import compass/css3/animation
@import grid_system

// Classes

.container-fixed
  +container-fixed

.container-fluid
  +container-fluid

.clickable:hover
  cursor: pointer

.hidden
  display: none


// Link style mixins

=links_actives
  a
    +transition(color .1s ease)
    &:link, &:visited
      color: #d00
    &:hover
      color: #f00
    &:active
      color: #d00

=links_normal
  a
    +transition(color .1s ease)
    &:link, &:visited
      color: #555
      border-bottom: 1px dotted #555
    &:hover
      color: #777
    &:active
      color: #555

=links_toolbar
  a
    color: #222
    font-weight: 700
    border-bottom: 1px dotted #ccc
    +transition(color .1s ease)
    &:hover
      color: darken(#dc5099, 20%)

=links_social
  a
    +transition(color .15s ease)
    &:link, &:visited
      color: #111
    &:hover
      color: #555
    &:active
      color: #111

=links_filters
  a
    +transition(color .1s ease)
    &:link, &:visited
      color: white
    &:hover
      color: rgba(white, .75)
    &:active
      color: white

=links_info
  a
    +transition(color .1s ease)
    border-bottom: 1px dotted #111
    &:link, &:visited
      color: #111
    &:hover
      color: #333
    &:active
      color: #111

=links_success
  a
    +transition(background-color .1s ease)
    background-color: #f9afea
    color: $color_text
    &:hover
      background-color: darken(#f9afea, 10%)

=links_user_responsive
  a
    +transition(color .1s ease)
    &:link, &:visited
      color: white
    &:hover
      color: $palette_primary
    &:active
      color: white

=no_links($color)
  a
    &:link, &:visited, &:hover, &:active
      color: $color

=links_google_button
  a:link, a:visited, a:hover, a:active
    color: #757575


// Modals

=modal_container
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 100

=css_modal_container
  +modal_container
  &:target
    display: block


// Animations

+keyframes(showup)
  0%
    +opacity(0)
    +transform( translate(0, 100px) )
  100%
    +opacity(1)
    +transform( translate(0, 0) )

+keyframes(showup_short)
  0%
    +opacity(0)
    +transform( translate(0, $m) )
  100%
    +opacity(1)
    +transform( translate(0, 0) )

+keyframes(hideup)
  0%
    +opacity(1)
    height: inherit
  33%
    +opacity(1)
  100%
    +opacity(0)
    height: 0

+keyframes(fadein)
  0%
    +opacity(0)
  100%
    +opacity(1)
