@import compass/css3/inline-block
@import compass/css3/border-radius
@import compass/css3/text-shadow
@import compass/css3/box-shadow

=icon
  &::before
    font-family: $font_icons
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    position: relative
    /* Better Font Rendering ===========
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

[class*='icon-'],
[class*='i-'],
  +icon

=i($content)
  &::before
    content: $content


// Agentes
//

.i-ag-ip
  +i("\e80e")
.i-ag-ci
  +i("\e812")


// Perspectivas
//

=t($col, $bg)
  color: $col
  + .inner
    background-color: $bg

.i-sp-eq::before
  +t(#c33436, #c33436)
.i-sp-pa::before
  +t(#2d9440, #2d9440)
.i-sp-fc::before
  +t(#354793, #354793)
.i-sp-ot::before
  +t(#555555, #555555)
.i-sp-::before
  +t(#555555, #555555)

// Categorías
//
[class*='i-to']
  filter: invert(1)
.i-to-pe
  background: url('../img/icons/user.svg') no-repeat center center/18px 18px
.i-to-ae
  background: url('../img/icons/users.svg') no-repeat center center/18px 18px
.i-to-ap
  background: url('../img/icons/triangle.svg') no-repeat center center/18px 18px
.i-to-fi
  background: url('../img/icons/map-pin.svg') no-repeat center center/18px 18px
.i-to-ec
  background: url('../img/icons/bar-chart.svg') no-repeat center center/18px 18px
.i-to-cu
  background: url('../img/icons/book-open.svg') no-repeat center center/18px 18px


// Auxiliares
//
.icon-download
  +i('\e811')
.icon-share
  +i('\e817')
.icon-twitter
  +i('\e81a')
.icon-facebook
  +i('\e818')
.icon-github
  +i('\e830')
.icon-mail
  +i('\e819')
.icon-expand
  +i('\e836')
.icon-login
  +i('\e832')
  font-size: 2.25em
.icon-logout
  +i('\e833')
  font-size: 2.25em
.icon-email
  +i('\e819')
.icon-website
  +i('\e82e')
.icon-address
  +i('\e81c')
.icon-email,
.icon-website,
.icon-address
  color: #999
  font-size: 20px
.i-activity
  +i('\e822')
.icon-city
  +i('⦿')
.icon-topic
  +i('\e820')
.icon-space
  +i('\e81f')
.icon-agent
  +i('\e821')
.icon-add
  +i('\e825')
.icon-calendar
  +i('\e81d')
.icon-map
  +i('\e816')
.icon-info
  +i('ℹ')
.icon-list
  +i('\e814')
.icon-event-address
  +i('\e81c')
.icon-event-date
  +i('\e81d')
.icon-event-time
  +i('\e81e')
.icon-star
  +i('★')
.icon-locate
  +i("◎")
.icon-layers
  +i('\e835')
.icon-ods:before
  background-image: url('../img/icons/ods.svg')
  content: " "
  background-size: cover
  width: 16px
  height: 16px
  display: inline-block
  position: relative
  top: 2px


// New categories
// .icon-city_alt
//
// .icon-perspective
//
// .icon-category
//
// .icon-agent_alt
