<!-- Map filters -->
<div map-filters></div>

<!-- Profile of selected marker -->
<div marker-info></div>

<!-- Map viewport container including map and user actions over it -->
<div class="map-container">
    <!-- Map actions -->
    <div map-actions></div>
    <!-- Leaflet map -->
    <!-- Grid display of elements -->
    <div class="grid">
        <div class="initiatives-grid__pager" ng-hide="content.markers.length == 0">
            <p class="initiatives-grid__pager-info">
                {{ content.starting_index }}‒{{ content.starting_index + content.current_items }}
                {{'elementos de'|t}} {{ content.count }} {{'elementos filtrados'|t}}
            </p>
            <p class="initiatives-grid__pager-links">
                <span class="initiatives-grid__pager-link"
                      ng-hide="content.starting_index == 0"
                      ng-click="content.previousPage()">
                    {{'Ver página anterior'|t}}
                </span>
                <span class="initiatives-grid__pager-link"
                      ng-hide="content.current_items < content.items_per_page"
                      ng-click="content.nextPage()">
                    {{'Ver página siguiente'|t}}
                </span>
            </p>
        </div>
        <div class="grid__no-results" ng-if="content.markers.length == 0">
            {{'Parece que todavía no se han generado contenidos de este tipo'|t}}.
        </div>
        <div class="grid__item"
             ng-repeat="marker in content.markers | filter: { filtered : false } | limitTo:content.current_items:content.starting_index"
             ng-click="content.show(marker)">
            <div class="grid__item-wrapper">
                <p class="grid__item-city">{{ content.cityname(marker.cities) }}</p>
                <figure class="grid__item-image">
                    <img ng-show="marker.img" ng-src="{{ marker.img }}" />
                    <div ng-hide="marker.img" class="leaflet-marker-icon cm">
                        <i class='outer i-sp-{{ marker.perspective_main }} i-ag-{{ marker.agent_main }}'></i>
                        <i class='inner i-to-{{ marker.categories }}'></i>
                    </div>
                </figure>
                <div class="grid__item-caption">
                    <p class="grid__item-name">
                        {{ marker.name }}
                    </p>
                </div>
                <p class="grid__item-categories">
                  <span class="grid__item-topic">{{ marker.category_name | t }}</span>
                  <span class="grid__item-agent" ng-repeat="agent_name in marker.agent_names">
                      — {{ agent_name | t }}</span>
                  <span class="grid__item-space" ng-repeat="perspective_name in marker.perspective_names">
                      — {{ perspective_name | t }}
                  </span>
                </p>
            </div>
        </div>

        <div class="initiatives-grid__pager bottom" ng-hide="content.markers.length == 0">
            <p class="initiatives-grid__pager-links">
                <span class="initiatives-grid__pager-link"
                      ng-hide="content.starting_index == 0"
                      ng-click="content.previousPage()">
                    {{'Ver página anterior'|t}}
                </span>
                <span class="initiatives-grid__pager-link"
                      ng-hide="content.current_items < content.items_per_page"
                      ng-click="content.nextPage()">
                    {{'Ver página siguiente'|t}}
                </span>
            </p>
        </div>
    </div>
</div>

<!-- Social widgets block -->
<div social></div>
